
# this files are not useful
*.pyc
Untitled.ipynb
.coverage
*/test.ipynb

# These are generated folders for cache
.ipynb_checkpoints/
__pycache__/
*.pyc
docs/build/
docs/source/_build/
docs/source/_static/
docs/source/_templates/
JADE.egg-info/
jade.egg-info/
build/

venv/*
.vscode/*.json

# secret file for local testing
tests/secrets.json
