
# this files are not useful
*.pyc
Untitled.ipynb
.coverage
Benchmarks_Inputs/
Configuration/
Experimental_Results/

# These are generated folders for cache 
.ipynb_checkpoints/
__pycache__/
*.pyc
docs/build/
docs/source/_build/
docs/source/_static/
docs/source/_templates/
JADE.egg-info/
jade.egg-info/
build/
