# do not track the _version
_version.py

# this files are not useful
*.pyc
Untitled.ipynb
.coverage
*/test.ipynb

# These are generated folders for cache
.ipynb_checkpoints/
**/__pycache__/
*.pyc
docs/build/
docs/source/_build/
docs/source/_static/
docs/source/_templates/
JADE.egg-info/
jade.egg-info/
jadevv.egg-info/
build/
.DS_Store/

venv/*
.vscode/

# secret file for local testing
tests/secrets.json