# JADE reqs
pandas
numjuggler
tqdm
xlsxwriter
openpyxl
matplotlib
scipy
python-docx
aspose-words
requests
f4enix >= 0.12.0
seaborn
# DOC reqs
sphinx
esbonio
myst-parser
pydata-sphinx-theme
pyyaml
pygments