alabaster==0.7.12
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
brotlipy @ file:///D:/bld/brotlipy_1636012381660/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046293990/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
coverage @ file:///D:/bld/coverage_1638217727732/work
cryptography @ file:///D:/bld/cryptography_1639699508385/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
docutils @ file:///D:/bld/docutils_1637960763351/work
et-xmlfile==1.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1636492669893/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
kiwisolver @ file:///D:/bld/kiwisolver_1635836839743/work
lxml @ file:///D:/bld/lxml_1635962069304/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1620659057741/work
MarkupSafe @ file:///D:/bld/markupsafe_1635833725355/work
matplotlib @ file:///D:/bld/matplotlib-suite_1636786773004/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1620111679903/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1637732846337/work
myst-parser @ file:///home/conda/feedstock_root/build_artifacts/myst-parser_1630686031735/work
numjuggler==2.42.35
numpy @ file:///D:/bld/numpy_1636145500119/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1634504373413/work
pathlib2==2.3.6
Pillow @ file:///D:/bld/pillow_1636558975346/work
pluggy @ file:///D:/bld/pluggy_1635833078128/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks @ file:///D:/bld/pysocks_1635862590164/work
pytest==6.2.5
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1633356845954/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-docx @ file:///home/conda/feedstock_root/build_artifacts/python-docx_1622121039670/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pywin32==302
PyYAML @ file:///D:/bld/pyyaml_1636139895442/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
scipy @ file:///C:/bld/scipy_1628206591178/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1638044012657/work
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1637000050264/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1635181214134/work
tornado @ file:///D:/bld/tornado_1635819758615/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635833007271/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1628647494633/work
xlwings @ file:///D:/bld/xlwings_1630049181401/work
